@model IEnumerable<hukukk.Models.UyelerModel>
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Büromuz Hakkında</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #fff;
            text-align: center;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: left;
            background-image: url('https://avehukuk.com/wp-content/uploads/2023/03/DAVA-VE-ICRA-TAKIBI-1.jpg');
            background-size: cover;
            background-position: center;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
            margin-top: 50px;
            text-align: center;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        .about {
            margin-bottom: 30px;
        }

            .about h2 {
                background-color: #333;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                display: inline-block;
                margin-right: 10px;
            }

        table {
            width: 100%;
            max-width: 800px;
            margin: auto;
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background-color: #222;
            margin-top: 30px; /* Tabloyu biraz aşağıya kaydır */
        }

        th, td {
            border: 1px solid #fff;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #333;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.2);
        }

        tr:hover {
            background-color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Büromuz Hakkında</h1>
        <p class="about">
            <h2>Üyeler</h2>
        </p>
        <table>
            <tr>
                <th>ID</th>
                <th>Adı-Soyadı</th>
                <th>Eposta</th>
                <th>Telefon Numarası</th>
                <th>Ünvanı</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Kullanici</td>
                    <td>@item.Email</td>
                    <td>@item.TelefonNo</td>
                    <td>@item.Unvan</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>